
# Packages

# Wayland
BR2_PACKAGE_WLROOTS=y

# X11
BR2_PACKAGE_XORG7=y
BR2_PACKAGE_LIBXCB=y
BR2_PACKAGE_XLIB_LIBX11=y
BR2_PACKAGE_XLIB_LIBXCURSOR=y

# OpenGL
BR2_PACKAGE_HAS_LIBGL=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GBM=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_GLX=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_VIRGL=y

# SDL
BR2_PACKAGE_SDL2=y
BR2_PACKAGE_SDL2_KMSDRM=y
BR2_PACKAGE_SDL2_OPENGL=y
BR2_PACKAGE_SDL2_OPENGLES=y
BR2_PACKAGE_SDL2_GFX=y
BR2_PACKAGE_SDL2_IMAGE=y
BR2_PACKAGE_SDL2_MIXER=y
BR2_PACKAGE_SDL2_NET=y
BR2_PACKAGE_SDL2_TTF=y

# Cairo
BR2_PACKAGE_CAIRO=y
BR2_PACKAGE_CAIRO_PS=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CAIRO_SVG=y
BR2_PACKAGE_CAIRO_PNG=y
BR2_PACKAGE_PIXMAN=y
BR2_PACKAGE_FONTCONFIG=y
BR2_PACKAGE_LCMS2=y

# Audio
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_OPENAL=y
BR2_PACKAGE_LIBVORBIS=y
BR2_PACKAGE_LIBOGG=y

# Misc
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_DBUS=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_LIBEPOXY=y
BR2_PACKAGE_HARFBUZZ=y
BR2_PACKAGE_LIBFRIBIDI=y
BR2_PACKAGE_PCRE=y
BR2_PACKAGE_PCRE_UCP=y

# SSH
BR2_PACKAGE_LIBSSH=y
BR2_PACKAGE_LIBSSH_OPENSSL=y