
# Command Line Tools
BR2_PACKAGE_WAYLAND_UTILS=y
BR2_PACKAGE_LIBCURL_CURL=y
BR2_PACKAGE_FILE=y
BR2_PACKAGE_SUDO=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_NANO=y

# Wayland apps
BR2_PACKAGE_WESTON=y
BR2_PACKAGE_WESTON_DEFAULT_DRM=y
BR2_PACKAGE_WESTON_XWAYLAND=y
BR2_PACKAGE_GLMARK2=y
BR2_PACKAGE_MESA3D_DEMOS=y
BR2_PACKAGE_KMSCUBE=y

# X11 apps
BR2_PACKAGE_XTERM=y
